body {
    width: 600px;
    margin: 0 auto;
    padding: 0 auto;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.title {
    font-size: 50px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}

.book-list li:not(:last-child) {
    margin-bottom: 10px;
}

.button-container {
    margin: 20px auto;

    display: flex;
    justify-content: center;
    gap: 20px;
}

.add-button {
    border: none;
    background-color: green;
    color: white;
    font-size: 20px;

    border-radius: 10px;

    height: 50px;
    width: 180px;
    padding: 10px;
}

.find-button {
    border: none;
    background-color: blue;
    color: white;
    font-size: 20px;

    border-radius: 10px;

    height: 50px;
    width: 100px;
    padding: 10px;
}